/* src/styles/tailwind.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .btn {
    background-color: #F8CA15FF;
    color: black;
      padding: 20px 25px;
    width: 190px;
  }
}